<footer class="site-footer">
    <p>Ingen copyright, stjäl vad du vill. Sidan körs på <a href="https://symfony.com/">symfony</a> och bilder kommer från <a href="https://unsplash.com/">unsplash</a>.</p>
</header>