{% extends "proj/partials/base.twig" %}

{#% block header %}{{ include('partials/header.html.twig', {"big": true}) }}{% endblock %#}

{% block view %}end{% endblock %}

{% block body %}
    <p>
        Du kom {{game.getJourney().getLength}} meter. Jättelångt!
    </p>
{% endblock %}