{% extends "proj/partials/base.twig" %}

{#% block header %}{{ include('partials/header.html.twig', {"big": true}) }}{% endblock %#}

{% block view %}index{% endblock %}

{% block body %}
    <p>
        Välkommen till RoadLike, ett spel som handlar om något som liknar en väg.
    </p>

    <p>
        Led din utmanare genom en serie utmaningar och hinder och försök komma så långt som möjligt innan sanden i timglaset tar slut.
    </p>

    <p>
        {% if app.session and app.session.get('game') %}
            <a href="{{ path('proj_game') }}">Fortsätt tidigare spel.</a>
        {% else %}
            <a href="{{ path('proj_game_new') }}">Börja!</a>
        {% endif %}
    </p>
{% endblock %}