{% extends "proj/partials/base.twig" %}

{#% block header %}{{ include('partials/header.html.twig', {"big": true}) }}{% endblock %#}

{% block view %}leaderboard{% endblock %}

{% block body %}
    <p>
        topplista
    </p>
{% endblock %}