{% extends "base.html.twig" %}

{% block title %}{{title}}{% endblock %}

{% block body %}
    <p>
        Välkommen!
    </p>
    <p>
        Jag heter Adam och detta är min redovisningssida i kursen mvc.
    </p>
{% endblock %}