{% extends "base.html.twig" %}

{% block title %}{{title}}{% endblock %}

{% block body %}
    <nav class="nav small">
        <a href="#kmom01">kmom01</a>
        <a href="#kmom02">kmom02</a>
        <a href="#kmom03">kmom03</a>
        <a href="#kmom04">kmom04</a>
        <a href="#kmom05">kmom05</a>
        <a href="#kmom06">kmom06</a>
        <a href="#kmom10">kmom10</a>
    </nav>
    <p>Redovisningstexter för samtliga kursmoment.</p>
    <h2 id="kmom01">kmom01</h2>
    <p>Min tidigare erfarenheter med objektorientering är enbart oopython-kursen som vi precis gick på programmet.</p>
    <p>Det känns som att det är väldigt likt pythons klasser och objekt hittills. Relationen mellan klass och objekt samt hur konstruktorer och instanser fungerar känn som kärnan i idéen. Jag gillade konstruktionen med en autoloader.</p>
    <p>Det känns lite som att fuska att använda något så omfattande som symfony, som har så mycket kod som jag inte vet hur det fungerar. Kodstrukturen känns lite svårgreppbar just nu, men det kanske löser sig med lite mer arbete kring det. Idéen med routes och templates är bekant vid det här laget.</p>
    <p>Det var en väldigt stort dokument så jag har inte läst det från pärm till pärm, men vid snabb anblick så gillar jag att det finns resurser för stilguider, kodstruktur, phpdoc, praktiker. Om det är så bra som det utlovar så är det en väldigt bra resurs!</p>
    <p>Min TIL var vad -> betyder i php, har jag funderat lite på innan.</p>

    <h2 id="kmom02">kmom02</h2>
    <p>TBD</p>
    <h2 id="kmom03">kmom03</h2>
    <p>TBD</p>
    <h2 id="kmom04">kmom04</h2>
    <p>TBD</p>
    <h2 id="kmom05">kmom05</h2>
    <p>TBD</p>
    <h2 id="kmom06">kmom06</h2>
    <p>TBD</p>
    <h2 id="kmom10">kmom10</h2>
    <p>TBD</p>
{% endblock %}