{% extends "base.html.twig" %}

{% block title %}{{title}}{% endblock %}

{% block body %}
    {{ include('partials/card/nav.html.twig')}}

    <p>[OPTIONELLT] Skapa en sida card/deck/deal/:players/:cards som delar ut ett antal :cards fr책n kortleken till ett antal :players och visar upp de korten som respektive spelare har f책tt. Visa 채ven antalet kort som 채r kvar i kortleken.</p>
{% endblock %}