{% extends "base.html.twig" %}

{% block title %}{{title}}{% endblock %}

{% block body %}
    {{ include('partials/card/nav.html.twig')}}

    <p>P책 din landdningssida, ber채tta kort om strukturen p책 dina klasser, vilka klasser har du och hur 채r de relaterade till varandra. Rita ett UML klass diagram och visa i sidan.</p>
{% endblock %}