{% set current = app.current_route %}

<nav class="nav small">
    <a {% if current == 'game_start' %}class="active" {% endif %}href="{{ path("game_init") }}">play</a>
    <a {% if current == 'game_doc' %}class="active" {% endif %}href="{{ path("game_doc") }}">doc</a>
</nav>
