@use "vars";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow-y: scroll;
}

img {
    max-width: 100%;
}

.two-col {
    display: flex;
    flex-direction: row;
    > * {
        width: 50%;
    }
}

.block {
    margin-left: 2rem;
    padding-left: 0.5rem;
    border-left: solid 2px vars.$text-colour-body;
    margin-bottom: vars.$magic-number;
}

ul {
    margin: 10px 40px;

    li {
        margin: 0;
    }
}

figure {
    margin-bottom: vars.$magic-number;
}