@use "vars";
@use "animation";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: vars.$color-primary-0;
}

.active,
.hoverable:hover {
    @include animation.jump;
    cursor: pointer;
    border: solid 2px vars.$color-complement-4;
}