@use "vars";
@use "animations";
@use "mixins";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: vars.$color-primary-0;
}

.active,
.hoverable:hover {
    @include animations.jump;
    cursor: pointer;
    outline: solid 2px vars.$color-complement-4;
}

.bar {
    width: 100%;
    outline: solid 1px #000;

    div {
        height: vars.$magic-number*0.5;
    }

    .health {
        background: vars.$color-health;
    }

    .stamina {
        background: vars.$color-stamina;
    }

    .time {
        background: vars.$color-time;
    }
}

.spacer {
    height: vars.$magic-number*0.5;
}

.flyout {
    @include mixins.shadow;
    display: none;
    position: absolute;
    background: vars.$color-primary-1;
    border-radius: 7px;
    padding: vars.$magic-number*0.5;
}