@use "vars";

.challenger {
    padding: vars.$magic-number*0.5;
    background: vars.$color-complement-1;
    border: solid 1px vars.$color-complement-0;
    border-radius: 7px;
    width: 100%;
    transition: all 200ms ease-in;

    th {
        font-size: 1.5em;
    }

    td {
        font-size: 1.1em;
    }

    .stat {
        :nth-of-type(2) {
            text-align: right;
        }

        :nth-of-type(3) {
            text-align: center;
        }
    }
}
