@use "vars";
@use "animations";

.draft {
    width: 100%;

    form {
        grid-column-end: span 4;

        &:nth-child(1) {
            grid-column-start: 2;
        }

        &:nth-child(2) {
            grid-column-start: 6;
        }

        &:nth-child(3) {
            grid-column-start: 10;
        }
    }
}