@use "vars";
@use "animation";

.game {

    .challenger {
        grid-column-end: span 3;

        .resource {
            td:nth-of-type(2) {
                text-align: right;
            }

            .bar {
                width: 100%;

                div {
                    height: vars.$magic-number*0.5;
                }

                .health {
                    background: vars.$color-health;
                }

                .stamina {
                    background: vars.$color-stamina;
                }
            }
        }

        &:not(:hover) {
            .spacer,
            .stat {
                display: none;
            }
        }
    }
}