@use "vars";
@use "animations";
@use "main";

.game {
    position: relative;

    .challenger {
        position: absolute;
        top: main.$grid-cell;
        right: main.$grid-cell;
        width: calc(calc(main.$grid-cell * 3) + calc(main.$gutter * 2));

        .resource {
            td:nth-of-type(2) {
                text-align: right;
            }
        }

        &:not(:hover) {
            .spacer,
            .stat {
                display: none;
            }
        }
    }

    .gamestate {
        grid-column: 1 / span 11;
        font-size: 1.3em;

        .label {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
        }
    }

    .crossroads {
        grid-row: 2 / span 1;
        grid-column: auto / span 14;
    }

    .path-form {
        grid-row: 3 / span 2;
        grid-column: auto / span 4;
    }

    .travel {
        grid-row: 3;
        grid-column: span 10;
    }

    .giveup {
        grid-row: 5;
        grid-column: 12 / span 3;
        justify-self: right;
    }
    
    .continue {
        grid-row: 4;
        grid-column: 12 / span 3;
        justify-self: end;
        align-self: end;
    }
}