@use "vars";
@use "animation";
@use "main";

.game {
    position: relative;

    .challenger {
        position: absolute;
        top: main.$grid-cell;
        right: main.$grid-cell;
        width: calc(calc(main.$grid-cell * 3) + calc(main.$gutter * 2));

        .resource {
            td:nth-of-type(2) {
                text-align: right;
            }
        }

        &:not(:hover) {
            .spacer,
            .stat {
                display: none;
            }
        }
    }

    .gamestate {
        grid-column: 1 / span 11;
        font-size: 1.3em;

        .label {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
        }
    }

    .crossroads {
        grid-row: 2;
    }
}