@use "vars";
@use "mixins";

$gutter: vars.$magic-number;
$grid-cell: calc(calc(vars.$main-width - calc(13 * $gutter)) / 16);

.main {
    @include mixins.shadow;
    margin: 0 auto;
    max-width: vars.$main-width;
    background-color: vars.$color-primary-2;
    display: grid;
    grid-template-columns: repeat(14, $grid-cell);
    padding: $grid-cell;
    gap: vars.$magic-number;
}

.index *,
.leaderboard *,
.about *{
    grid-column: auto / span 14;
}