@use "vars";

.path-form {
    background: vars.$color-primary-3;
    border-radius: 7px;
    padding: vars.$magic-number*0.5;
}

.path {
    display: flex;
    flex-flow: column nowrap;
    gap: vars.$magic-number*0.5;

    h3 {
        text-align: center;
        margin: vars.$magic-number*0.5 0;
    }

    .length {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;

        p {
            font-size: 1em;
            color: #000;
        }
    }
}
