@use "vars";

.selection {
    display: flex;
    gap: vars.$magic-number;
    width: 100%;

    .challenger {
        flex-grow: 1;
        flex-basis: 0;
        padding: vars.$magic-number;
        background: vars.$color-complement-1;
        border: solid 1px vars.$color-complement-0;
        border-radius: 7px;
    }
}