@use "vars";
@import url('https://fonts.googleapis.com/css2?family=Flavors&family=Neucha&family=Acme');

html {
    font-size: 100%;
}

body { 
    line-height: vars.$base-line-height;
}

* {
    font-family: 'Neucha', Helvetica, sans-serif;
}

p,
li { 
    font-size: vars.$base-font-size;
    color: vars.$color-primary-4;
    font-weight: 600;

    // &:not(:last-child) {
    //     margin-bottom: vars.$magic-number;
    // }
}

code {
    font-family: monospace;
    font-weight: 400;
    font-size: 0.9em;
}

h1 {
    font-size: 4em;
    margin-bottom: vars.$magic-number * 2;
    font-family: 'Flavors', fantasy;
    color: vars.$color-complement-4;
}

h2 {
    font-size: 2em;
    color: vars.$color-complement-4;
    font-weight: 600;
}

h3 {
    font-size: 2em;
    color: vars.$color-complement-4;
    font-weight: 400;
}

h4 {
    font-size: 1.5em;
    color: vars.$color-complement-4;
    font-weight: 400;
    text-decoration: underline;
}

a {
    color: #000;

    &:visited {
        color: #000;
    }
}

.fa-solid {
    color: #000;
}