$color-primary-0: #E0D2C1;	// Main Primary color */
$color-primary-1: #FFFDFB;
$color-primary-2: #FFF8EE;
$color-primary-3: #BEAA92;
$color-primary-4: #9F8668;

$color-complement-0: #628494;	// Main complement color */
$color-complement-1: #C3D2D9;
$color-complement-2: #8EA7B3;
$color-complement-3: #3F687B;
$color-complement-4: #255065;

$color-health: #c45454;
$color-stamina: #c4b954;
$color-time: $color-complement-2;
$color-journey: #64a364;

$base-line-height: 1.4;
$base-font-size: 1.25rem;
$magic-number: $base-line-height * $base-font-size;

$main-width: 960px;